/* components/CardSlider.css */
.custom-arrow-left, .custom-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 45px; /* Aumentando o tamanho da seta */
    height: 45px;
    background-color: rgba(0, 0, 0, 0.6); /* Escurecendo o fundo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-arrow-left:hover, .custom-arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Escurece mais ao passar o mouse */
  }
  
  .custom-arrow-left {
    left: -50px; /* Ajusta a posição para fora do slider */
  }
  
  .custom-arrow-right {
    right: -50px; /* Ajusta a posição para fora do slider */
  }
  
  .custom-arrow-left::before, .custom-arrow-right::before {
    font-size: 20px; /* Ajusta o tamanho da seta */
    color: white; /* Cor branca para a seta */
    line-height: 1;
  }
  